<!-- _edit_modal.html.erb -->
<div id="editProxyModal" class="fixed inset-0 overflow-y-auto hidden z-50">
  <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:p-0">
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>

    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
      <div class="bg-gray-200 px-4 py-3 sm:px-6">
        <div class="flex justify-between items-center">
          <h4 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
            <%= @proxy.persisted? ? 'Edit' : 'Add' %> Proxy
          </h4>
          <button
            type="button"
            class="text-gray-500 hover:text-gray-700 focus:outline-none focus:text-gray-700"
            onclick="$('#editProxyModal').addClass('hidden')"
          >
            <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="py-1 sm:px-6">
        <%= render 'form', proxy: @proxy %>
      </div>
    </div>
  </div>
</div>


