<table id="inventoryTable" class="display" style="width:100%">
 <thead>
    <tr>
        <th class="px-4 py-2">Item ID</th>
        <th class="px-4 py-2">Market Name</th>
        <th class="px-4 py-2">Market Price</th>
        <th class="px-4 py-2">Tradable</th>
    </tr>
    </thead>
    <tbody>
     <% inventories.each do |inventory| %>
        <tr>
         <td class="border text-center px-4 py-2"><%= inventory.item_id %></td>
         <td class="border text-center px-4 py-2"><%= inventory.market_name %></td>
         <td class="border text-center px-4 py-2"><%= "$#{inventory.market_price}" %></td>
         <td class="border text-center px-4 py-2"><%= inventory.tradable %></td>
        </tr>
     <% end %>    
 </tbody>
</table>

<script>
    $('#inventoryTable').DataTable({
        paging: true,
        pageLength: 10, // Number of records per page
        // Other DataTables options...
    });
</script>

    