<div class="flex">
  <h2 class="text-2xl mb-4 text-blue dark:text-white font-[500]">All Item Sold</h2>
  <i class="fa fa-refresh text-blue dark:text-white" aria-hidden="true" onclick="fetchAllItemData()"></i>
</div>

<table id="dataTableAllItemsSold" class="display shadow-md rounded-lg mt-10" style="width:100%; border: none;">
  <thead class="bg-blue text-white">
    <tr>
      <th class="border-r border-r-[#acadaf9c] text-sm px-4 py-2 rounded-tl-lg">Item ID</th>
      <th class="border-r border-r-[#acadaf9c] text-sm px-4 py-2">Item Name</th>
      <th class="border-r border-r-[#acadaf9c] text-sm px-4 py-2">Bought Price</th>
      <th class="border-r border-r-[#acadaf9c] text-sm px-4 py-2">Sold Price</th>
      <th class="border-r border-r-[#acadaf9c] text-sm px-4 py-2">Profit</th>
      <th class="border-r border-r-[#acadaf9c] text-sm px-4 py-2">Profit (%)</th>
      <th class="text-sm px-4 py-2 rounded-tr-lg">Date</th>
    </tr>
  </thead>
  <tbody class="dataAllItemsSold">
    <%= render partial: 'items_data', locals: { sold_items_history: @sold_items_history || [] } %>
  </tbody>
</table>
<%if @sold_items_history.count.positive? %>
  <%= render partial: 'pagination', locals: { data: @sold_items_history || [], table_page_name: 'sold_item_history_page' } %>
<%end%>

<script>
  function fetchAllItemData(){
    $('.item-history-loader').removeClass('hidden');
    $.ajax({
      url: '/fetch_sold_items.js',
      data: {
        sold_item_history_page: "<%= params[:sold_item_history_page] || 1%>"
      },
      type: 'GET',
      success: function(response){
        if($('.dataAllItemsSold').children().length != 0){
          $('.item-history-loader').addClass('hidden');
        }
      },
      error: function(){}
    });
  }
</script>