<div class="m-10 flex items-center space-x-2 justify-end" >
  Select Year: 
  <%= select_tag 'year', options_for_select((2023..2050).map { |year| [year, year] }, params[:year]), class: 'border p-2 rounded min-w-[100px] ml-5', onchange: "selectYear(this)" %>
</div>

<div class="w-full flex flex-row">

  <div class="flex flex-col w-1/2 items-center">
    <h2 class='font-bold text-blue-600 '>Profit Graph</h2>
    <%= column_chart(@profit_by_month, ytitle: "Dollars")%>
  </div>

  <hr class="bg-gray-400  w-[1px] h-[235%]">

  <div class="flex flex-col w-1/2 items-center">
    <h2 class='font-bold text-blue-600 '>Quantity Sold Graph</h2>
    <%= bar_chart(@quantity_sold_by_month, ytitle: "Quantity") %>
  </div>

</div>

<br>
<br>
<br>
  <hr class="bg-gray-600  w-[100%] h-[1px] mb-10">


<div class="w-full flex flex-row">

  <div class="flex flex-col w-1/2 items-center">
  <h2 class='font-bold text-blue-600 '>Quantity Purchased Graph</h2>
  <%= pie_chart(@quantity_purchased_by_month, ytitle: "Quantity") %>
  </div>


  

</div>


<script>
  function selectYear(element){
    window.location.href = `/analytics?year=${element.value}`
  }
</script>
