<div class="flex">
    <h2 class="text-2xl font-bold mb-4">Items Sold</h2>
    <i class="fa fa-refresh" aria-hidden="true"></i>
    </div>

    <table id="dataTableItemsSold" class="display" style="width:100%">
        <thead>
            <tr>
                <th class="px-4 py-2">Item ID</th>
                <th class="px-4 py-2">Item Name</th>
                <th class="px-4 py-2">Price Sold</th>
                <th class="px-4 py-2">Profit</th>
            </tr>
        </thead>
        <tbody>
        <% 24.times do |i| %>
            <tr>
                <td class="border text-center px-4 py-2"><%= "#{i+1}" %></td>
                <td class="border text-center px-4 py-2">Edinburgh</td>
                <td class="border text-center px-4 py-2">$320,800</td>
                <td class="border text-center px-4 py-2">true</td>
            </tr>
            <% end %>
            


            <!-- Add more rows as needed -->
        </tbody>
    </table>