<div id="balance-container">
    <div class="my-4">
        <h2 class="font-bold"> CSGO Empire Balance: <%= @csgo_empire_balance.nil? ? "$0" : "#{@csgo_empire_balance} coins" %></h2>
        <h2 class="font-bold"> CSGO Market Balance: <%= @csgo_market_balance.nil? ? "$0" : "$#{@csgo_market_balance}" %></h2>
        <h2 class="font-bold"> Waxpeer Balance: <%= @waxpeer_balance.nil? ? "$0" : "$#{@waxpeer_balance}" %></h2>
    </div>
</div>
