<div class="p-6">
<a href="<%= new_steam_account_path %>" class="mt-6 inline-block bg-blue-500 text-gray-100 font-bold px-4 py-2 rounded-lg shadow-md hover:bg-blue-600" style = "float: right;">Add New Steam Account</a>
 <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <h2 class="text-2xl font-bold mb-4">Connected Steam Accounts</h2>
    <table id="dataTable" class="table-auto w-full">
        <thead>
            <tr>
                <th class="px-4 py-2">Steam ID</th>
                <th class="px-4 py-2">Steam Web API</th>
                <th class="px-4 py-2">Waxpeer API Key</th>
                <th class="px-4 py-2">CSGOEmpire API Key</th>
                 <th class="px-4 py-2">Market.CSGO API Key</th>
            </tr>
        </thead>
        <tbody>
        <% 4.times do |i| %>
            <tr>
                <td class="border text-center px-4 py-2"><%= "#{i+1}" %></td>
                <td class="border text-center px-4 py-2">Edinburgh</td>
                <td class="border text-center px-4 py-2">Edinburgh</td>
                <td class="border text-center px-4 py-2">$320,800</td>
                <td class="border text-center px-4 py-2">true</td>
            </tr>
            <% end %>
            


            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>
</div>